/*- - - - - - - - - -*/
/*F O N T S*/
/*- - - - - - - - - -*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto: wght@300;400;700&family=Sombras+Into+Light&display=swap');

/*- - - - - - - - - -*/
/*R E S E T*/
/*- - - - - - - - - -*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

/*- - - - - - - - - -*/
/*V A R I A B L E S*/
/*- - - - - - - - - -*/
:root {
    --color-1: rgba(19, 14, 17, 0.856);
    --color-2: rgba(247, 246, 246, 0.89);
    --font-fm: Poppins, sans-serif;
}

/*- - - - - - - - - -*/
/*G E N E R A L*/
/*- - - - - - - - - -*/
body {
    align-items: center;
    color: var(--color-2);
    font-family: var(--font-fm);
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;

    nav {
        position: fixed;
        top: 20px;
        left: 20px;

        a:is(:link, :visited) {
            border-radius: 4px;
            background-color: rgb(10, 10, 10);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0, 4s ease-in;
            height: 40px;
            width: 40px;

            svg {
                opacity: 0.7;
                width: 24px;
            }

        }

        a:is(:hover)svg {
            opacity: 1;
        }

        a:is(:hover) {
            transform: scale(1.05);
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        header {
            img {
                border-radius: 50%;
                object-fit: cover;
                border: 10px solid rgb(252, 250, 250);
                width: 250px;
                height: 250px;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h1 {
                text-align: center;
                font-size: 4.5rem;
                font-weight: 200;
            }

            h2 {
                justify-content: center;
                text-align: center;

            }

            h3 {
                border-radius: 20px;
                background-color: var(--color-1);
                color: var(--color-2);
                font-weight: 500;
                padding: 4px 12px;
            }
        }

        menu {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            margin-top: 2rem;

            a:is(:link, :visited) {
                align-items: center;
                background-color: var(--color-2);
                border-radius: 10px;
                border-style: double;
                color: var(--color-1);
                display: flex;
                gap: 0.6rem;
                justify-content: start;
                transition: all 0.4s ease-in;
                text-decoration: none;
                width: 280px;

                span {
                    border-radius: 4px 0 0 4px;
                    background-color: rgb(157, 128, 189);
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    display: flex;
                    transition: all 0.4s ease-in;
                    color: rgb(240, 236, 243);
                    height: 40px;
                    width: 40px;
                }
            }

            a:is(:hover) {
                background-color: rgb(247, 247, 234);
            }

            a:is(:hover) span {
                width: 60px;
            }

            a.inactive {
                opacity: 0.4;
                pointer-events: none;
            }
        }

        section {
            background-color: var(--color-1);
            border-radius: 4px;
            padding: 1rem;
            width: 750px;

            h3 {
                color: #fffc;
                font-size: 1.4rem;
                font-weight: 400;
                border-bottom: 2px dotted #fff6;
                margin-block: 0.6rem;
            }

            p {
                color: #ffffff;
                font-size: 1.4rem;
            }

            xmp {
                background-color: #0009;
                border-radius: 4px;
                color: #c1eeb7;
                font-size: 1rem;
                padding: 10px 10px 20px 10px;
            }
        }
    }
}

/*- - - - - - - - - -*/
/*M A I N  M E N U*/
/*- - - - - - - - - -*/
body.mmenu {
   background-color: #5F005F;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%235F005F' cx='50' cy='0' r='50'/%3E%3Cg fill='%235b025b' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23570358' cx='50' cy='100' r='50'/%3E%3Cg fill='%23530454' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500551' cx='50' cy='200' r='50'/%3E%3Cg fill='%234c064d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2348074a' cx='50' cy='300' r='50'/%3E%3Cg fill='%23440746' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410843' cx='50' cy='400' r='50'/%3E%3Cg fill='%233d083f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233a083c' cx='50' cy='500' r='50'/%3E%3Cg fill='%23360938' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23330935' cx='50' cy='600' r='50'/%3E%3Cg fill='%232f0932' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c092e' cx='50' cy='700' r='50'/%3E%3Cg fill='%2329082b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23260728' cx='50' cy='800' r='50'/%3E%3Cg fill='%23230624' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23200421' cx='50' cy='900' r='50'/%3E%3Cg fill='%231e021e' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%231B001B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;

    menu {
        a:is(:link, :visited) {
            color: #080808;
            font-weight: 500;

            span {
                background-color: #5F005F;
                justify-content: center;
            }
        }
    }

    h1 {
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;

        h2 {
            font-size: 1.4rem;
            font-weight: 200;
            text-align: center;
        }

    }
}



body.emmet {
   background-color: #309D0B;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23309D0B' cx='50' cy='0' r='50'/%3E%3Cg fill='%232e950e' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c8d10' cx='50' cy='100' r='50'/%3E%3Cg fill='%23298611' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23277e12' cx='50' cy='200' r='50'/%3E%3Cg fill='%23267713' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23246f14' cx='50' cy='300' r='50'/%3E%3Cg fill='%23226814' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23206114' cx='50' cy='400' r='50'/%3E%3Cg fill='%231e5914' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d5213' cx='50' cy='500' r='50'/%3E%3Cg fill='%231b4b13' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23194412' cx='50' cy='600' r='50'/%3E%3Cg fill='%23183e11' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23163711' cx='50' cy='700' r='50'/%3E%3Cg fill='%2314300f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23132a0e' cx='50' cy='800' r='50'/%3E%3Cg fill='%2311240b' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%230f1e08' cx='50' cy='900' r='50'/%3E%3Cg fill='%230b1805' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23051101' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;

    menu {
        a:is(:link, :visited) {
            color: #080808;
            font-weight: 500;

            span {
                background-color: #309D0B;
                justify-content: center;
            }
        }
    }

    h1 {
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;

        h2 {
            font-size: 1.4rem;
            font-weight: 200;
            text-align: center;
        }

    }
}

body.html {
   background-color: #FF7506;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23FF7506' cx='50' cy='0' r='50'/%3E%3Cg fill='%23f47009' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e86a0b' cx='50' cy='100' r='50'/%3E%3Cg fill='%23dd650c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d2600d' cx='50' cy='200' r='50'/%3E%3Cg fill='%23c75b0e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bc560f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23b1510f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a74c0f' cx='50' cy='400' r='50'/%3E%3Cg fill='%239c470f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2392420f' cx='50' cy='500' r='50'/%3E%3Cg fill='%23873d0f' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237d390f' cx='50' cy='600' r='50'/%3E%3Cg fill='%2373340e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2369300e' cx='50' cy='700' r='50'/%3E%3Cg fill='%235f2b0d' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2355270c' cx='50' cy='800' r='50'/%3E%3Cg fill='%234c230a' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23431e08' cx='50' cy='900' r='50'/%3E%3Cg fill='%233a1a05' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23311602' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
    main {
        header {
            h1 {
                color: #ffffff;
            }

            h2 {
                color: #f8f8f8;
                border-bottom: none;
                max-width: 80%
            }
        }

        section {
            p {
                color: rgb(255, 189, 8);
                font-size: 1rem;
            }
        }

        menu {
            a:is(:link, :visited) {
                color: #080808;
                font-weight: 500;

                span {
                    background-color: #FF7506;
                }
            }
        }
    }
}

body.css {

   background-color: #663399;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23663399' cx='50' cy='0' r='50'/%3E%3Cg fill='%23623193' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f2f8d' cx='50' cy='100' r='50'/%3E%3Cg fill='%235b2d88' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23582c82' cx='50' cy='200' r='50'/%3E%3Cg fill='%23542a7d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23502877' cx='50' cy='300' r='50'/%3E%3Cg fill='%234d2671' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2349246c' cx='50' cy='400' r='50'/%3E%3Cg fill='%23462367' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23422161' cx='50' cy='500' r='50'/%3E%3Cg fill='%233f1f5c' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%233c1d57' cx='50' cy='600' r='50'/%3E%3Cg fill='%23381c52' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23351a4c' cx='50' cy='700' r='50'/%3E%3Cg fill='%23311847' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%232e1742' cx='50' cy='800' r='50'/%3E%3Cg fill='%232b153d' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23271339' cx='50' cy='900' r='50'/%3E%3Cg fill='%23241234' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2321102F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;

    menu {
        a:is(:link, :visited) {
            color: #080808;
            font-weight: 500;

            span {
                background-color: #663399;
                justify-content: center;
            }
        }
    }

    h1 {
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;

        h2 {
            font-size: 1.4rem;
            font-weight: 200;
            text-align: center;

        }
    }
}


body.pug {
   background-color: #79473A;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2379473A' cx='50' cy='0' r='50'/%3E%3Cg fill='%23764538' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23724337' cx='50' cy='100' r='50'/%3E%3Cg fill='%236f4135' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%236c3f34' cx='50' cy='200' r='50'/%3E%3Cg fill='%23693d32' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23653b31' cx='50' cy='300' r='50'/%3E%3Cg fill='%23623a2f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f382e' cx='50' cy='400' r='50'/%3E%3Cg fill='%235c362c' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2359342b' cx='50' cy='500' r='50'/%3E%3Cg fill='%23553229' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23523028' cx='50' cy='600' r='50'/%3E%3Cg fill='%234f2e26' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%234c2d25' cx='50' cy='700' r='50'/%3E%3Cg fill='%23492b23' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23462922' cx='50' cy='800' r='50'/%3E%3Cg fill='%23432720' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2340261f' cx='50' cy='900' r='50'/%3E%3Cg fill='%233d241d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%233A221C' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;

    menu {
        a:is(:link, :visited) {
            color: #080808;
            font-weight: 500;

            span {
                background-color: #79473A;
                justify-content: center;
            }
        }
    }

    h1 {
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;

        h2 {
            font-size: 1.4rem;
            font-weight: 200;
            text-align: center;
        }

    }
}

body.sass {
   background-color: #E472AA;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23E472AA' cx='50' cy='0' r='50'/%3E%3Cg fill='%23dd6ea5' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d66b9f' cx='50' cy='100' r='50'/%3E%3Cg fill='%23cf679a' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c86495' cx='50' cy='200' r='50'/%3E%3Cg fill='%23c16090' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ba5d8b' cx='50' cy='300' r='50'/%3E%3Cg fill='%23b35a85' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ac5680' cx='50' cy='400' r='50'/%3E%3Cg fill='%23a5537b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%239e4f76' cx='50' cy='500' r='50'/%3E%3Cg fill='%23984c71' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2391496c' cx='50' cy='600' r='50'/%3E%3Cg fill='%238a4567' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23844262' cx='50' cy='700' r='50'/%3E%3Cg fill='%237d3f5e' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23773c59' cx='50' cy='800' r='50'/%3E%3Cg fill='%23713854' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%236a354f' cx='50' cy='900' r='50'/%3E%3Cg fill='%2364324b' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%235E2F46' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;

        a:is(:link, :visited) {
            color: #080808;
            font-weight: 500;

            span {
                background-color: #E472AA;
                justify-content: center;
            }
        }
    }

    h1 {
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;

        h2 {
            font-size: 1.4rem;
            font-weight: 200;
            text-align: center;
        }

    }



body.zzz {
   background-color: #9A0FFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%239A0FFF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23940ef5' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%238e0eeb' cx='50' cy='100' r='50'/%3E%3Cg fill='%23880de0' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23820cd6' cx='50' cy='200' r='50'/%3E%3Cg fill='%237c0ccd' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23770bc3' cx='50' cy='300' r='50'/%3E%3Cg fill='%23710ab9' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236b0aaf' cx='50' cy='400' r='50'/%3E%3Cg fill='%236509a6' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2360099c' cx='50' cy='500' r='50'/%3E%3Cg fill='%235a0893' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2355088a' cx='50' cy='600' r='50'/%3E%3Cg fill='%234f0781' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%234a0778' cx='50' cy='700' r='50'/%3E%3Cg fill='%2344066f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%233f0666' cx='50' cy='800' r='50'/%3E%3Cg fill='%233a055e' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23340555' cx='50' cy='900' r='50'/%3E%3Cg fill='%232f044d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%232A0445' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;

    menu {
        a:is(:link, :visited) {
            color: #080808;
            font-weight: 500;

            span {
                background-color: #9A0FFF;
                justify-content: center;
            }
        }
    }

    h1 {
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;

        h2 {
            font-size: 1.4rem;
            font-weight: 200;
            text-align: center;
        }

    }
}

body.tailwind {
    background-color: #36C3FF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2336C3FF' cx='50' cy='0' r='50'/%3E%3Cg fill='%2334bef8' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2333b8f1' cx='50' cy='100' r='50'/%3E%3Cg fill='%2331b3ea' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2330aee3' cx='50' cy='200' r='50'/%3E%3Cg fill='%232ea9dd' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%232da4d6' cx='50' cy='300' r='50'/%3E%3Cg fill='%232b9fcf' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%232a9ac8' cx='50' cy='400' r='50'/%3E%3Cg fill='%232894c2' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23278fbb' cx='50' cy='500' r='50'/%3E%3Cg fill='%23268ab5' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%232485ae' cx='50' cy='600' r='50'/%3E%3Cg fill='%232381a8' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23227ca1' cx='50' cy='700' r='50'/%3E%3Cg fill='%2320779b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%231f7295' cx='50' cy='800' r='50'/%3E%3Cg fill='%231e6d8e' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d6888' cx='50' cy='900' r='50'/%3E%3Cg fill='%231b6482' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%231A5F7C' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;

    menu {
        a:is(:link, :visited) {
            color: #080808;
            font-weight: 500;

            span {
                background-color: #36C3FF;
                justify-content: center;
            }
        }
    }

    h1 {
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;

        h2 {
            font-size: 1.4rem;
            font-weight: 200;
            text-align: center;
        }

    }
}


body.js {

    background-color: #F0DB4F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23F0DB4F' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ebd74d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e6d34b' cx='50' cy='100' r='50'/%3E%3Cg fill='%23e1cf49' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dccb47' cx='50' cy='200' r='50'/%3E%3Cg fill='%23d7c745' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d2c344' cx='50' cy='300' r='50'/%3E%3Cg fill='%23cdc042' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c8bc40' cx='50' cy='400' r='50'/%3E%3Cg fill='%23c4b83e' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bfb43c' cx='50' cy='500' r='50'/%3E%3Cg fill='%23bab03a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b5ac38' cx='50' cy='600' r='50'/%3E%3Cg fill='%23b1a837' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23aca535' cx='50' cy='700' r='50'/%3E%3Cg fill='%23a7a133' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a39d31' cx='50' cy='800' r='50'/%3E%3Cg fill='%239e992f' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%239a962e' cx='50' cy='900' r='50'/%3E%3Cg fill='%2395922c' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23918E2A' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;

    main {
        header {
            h1 {
                color: #ffffff;
            }

            h2 {
                color: #ffffff;

            }
        }

        menu {
            a:is(:link, :visited) {
                color: #080808;
                font-weight: 500;

                span {
                    background-color: #F0DB4F;
                    justify-content: center;
                }
            }
        }

        h1 {
            display: block;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;

            h2 {
                font-size: 1.4rem;
                font-weight: 200;
                text-align: center;
            }

        }
    }
}