/*- - - - - - - - - -*/
/*F O N T S*/
/*- - - - - - - - - -*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*- - - - - - - - - -*/
/*R E S E T*/
/*- - - - - - - - - -*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

/*- - - - - - - - - -*/
/*V A R I A B L E S*/
/*- - - - - - - - - -*/
:root {
    --color-1: rgba(19, 14, 17, 0.856);
    --color-2: rgba(247, 246, 246, 0.89);
    --font-fm: Poppins, sans-serif;
}

/*- - - - - - - - - -*/
/*G E N E R A L*/
/*- - - - - - - - - -*/
body {
    align-items: center;
    color: var(--color-2);
    font-family: var(--font-fm);
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;

    nav {
        position: fixed;
        top: 20px;
        left: 20px;

        a:is(:link, :visited) {
            border-radius: 4px;
            background-color: rgb(10, 10, 10);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0, 4s ease-in;
            height: 40px;
            width: 40px;

            svg {
                opacity: 0.7;
                width: 24px;
            }

        }

        a:is(:hover)svg {
            opacity: 1;
        }

        a:is(:hover) {
            transform: scale(1.05);
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        header {
            img {
                border-radius: 50%;
                object-fit: cover;
                border: 10px solid rgb(252, 250, 250);
                width: 250px;
                height: 250px;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h1 {
                text-align: center;
                font-size: 4.5rem;
                font-weight: 200;
            }

            h2 {
                justify-content: center;
                text-align: center;
                font-weight: 400;
            }

            h3 {
                border-radius: 20px;
                background-color: var(--color-1);
                color: var(--color-2);
                font-weight: 500;
                padding: 4px 12px;
            }
        }

        menu {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            margin-top: 2rem;

            a:is(:link, :visited) {
                align-items: center;
                background-color: var(--color-2);
                border-radius: 10px;
                border-style: double;
                color: var(--color-1);
                display: flex;
                gap: 0.6rem;
                justify-content: start;
                transition: all 0.4s ease-in;
                text-decoration: none;
                width: 280px;

                span {
                    border-radius: 4px 0 0 4px;
                    background-color: rgb(157, 128, 189);
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    display: flex;
                    transition: all 0.4s ease-in;
                    color: rgb(240, 236, 243);
                    height: 40px;
                    width: 40px;
                }
            }

            a:is(:hover) {
                background-color: rgb(247, 247, 234);
            }

            a:is(:hover) span {
                width: 60px;
            }

            a.inactive {
                opacity: 0.4;
                pointer-events: none;
            }
        }

        section {
            background-color: var(--color-1);
            border-radius: 4px;
            padding: 1rem;
            width: 750px;

            h3 {
                color: #fffc;
                font-size: 1.4rem;
                font-weight: 400;
                border-bottom: 2px dotted #fff6;
                margin-block: 0.6rem;
            }

            p {
                color: #ffffff;
                font-size: 1.4rem;
            }

            xmp {
                background-color: #0009;
                border-radius: 4px;
                color: #c1eeb7;
                font-size: 1rem;
                padding: 10px 10px 20px 10px;
            }
        }
    }
}

/*- - - - - - - - - -*/
/*M A I N  M E N U*/
/*- - - - - - - - - -*/
body.mmenu {
    background-color: #5F005F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%235F005F' cx='50' cy='0' r='50'/%3E%3Cg fill='%235b025b' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23570358' cx='50' cy='100' r='50'/%3E%3Cg fill='%23530454' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500551' cx='50' cy='200' r='50'/%3E%3Cg fill='%234c064d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2348074a' cx='50' cy='300' r='50'/%3E%3Cg fill='%23440746' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410843' cx='50' cy='400' r='50'/%3E%3Cg fill='%233d083f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233a083c' cx='50' cy='500' r='50'/%3E%3Cg fill='%23360938' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23330935' cx='50' cy='600' r='50'/%3E%3Cg fill='%232f0932' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c092e' cx='50' cy='700' r='50'/%3E%3Cg fill='%2329082b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23260728' cx='50' cy='800' r='50'/%3E%3Cg fill='%23230624' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23200421' cx='50' cy='900' r='50'/%3E%3Cg fill='%231e021e' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%231B001B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;

    menu {
        a:is(:link, :visited) {
            color: #080808;
            font-weight: 500;

            span {
                background-color: #5F005F;
                justify-content: center;
            }
        }
    }

    section {
        width: 80%;

        p {
            color: #000000;
            font-size: 1rem;
            align-items: center;
        }
    }

    h1 {
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;

        h2 {
            font-size: 1.4rem;
            font-weight: 200;
            text-align: center;
        }

    }
}


body.opp {
    background-color: #5E5E5E;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%235E5E5E' cx='50' cy='0' r='50'/%3E%3Cg fill='%235b5b5b' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23575757' cx='50' cy='100' r='50'/%3E%3Cg fill='%23545454' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23505050' cx='50' cy='200' r='50'/%3E%3Cg fill='%234d4d4d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%234a4a4a' cx='50' cy='300' r='50'/%3E%3Cg fill='%23464646' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23434343' cx='50' cy='400' r='50'/%3E%3Cg fill='%23404040' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d3d3d' cx='50' cy='500' r='50'/%3E%3Cg fill='%23393939' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23363636' cx='50' cy='600' r='50'/%3E%3Cg fill='%23333333' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23303030' cx='50' cy='700' r='50'/%3E%3Cg fill='%232d2d2d' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%232a2a2a' cx='50' cy='800' r='50'/%3E%3Cg fill='%23272727' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23242424' cx='50' cy='900' r='50'/%3E%3Cg fill='%23212121' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%231E1E1E' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;

    main {
        header {
            h1 {
                color: #ffffff;
            }

            h2 {
                color: #ffffff;
                font-weight: 500;

            }
        }

        menu {
            a:is(:link, :visited) {
                color: #080808;
                font-weight: 500;

                span {
                    background-color: #5E5E5E;
                    justify-content: center;
                }
            }
        }

        section {


            p {
                color: #000000;
                font-size: 1rem;
                align-items: center;
            }

        }

        h1 {
            display: block;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;

            h2 {
                font-size: 1.4rem;
                font-weight: 200;
                text-align: center;
            }

        }
    }
}