extends inc/layout.pug

block title 
    title 14- Inheritance 
block content 
    header 
        h1 14- Inheritance 
        h2 Covers how to use inheritance to avoid code repetition
    section 
        h3 Lorem ipsum dolor 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptates sequi tempora in natus quasi pariatur dolore architecto. Accusamus laudantium sapiente repellat! Reiciendis, reprehenderit repellat! Placeat voluptate reprehenderit aliquid illo?